* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: #F7F7F7;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
nav {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
nav li:first-of-type a {
  font-weight: 800;
  color: #076795;
}
nav a, nav a:visited {
  position: relative;
}
nav a::after, nav a:visited::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #333;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}
nav a:hover::after {
  transform: scaleX(1);
}
nav .navbar-menu {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: rgb(52, 56, 64);
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}
nav .navbar-menu .language-icon {
  width: 20px;
}
nav img {
  padding: 0.5% 0 0.5% 2%;
}
nav ul {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
}
nav ul li {
  list-style: none;
  border-right: 1px solid #d6d6d6;
  padding: 0 5%;
}
nav ul li:nth-child(3) {
  border: none;
}

h1 {
  text-align: center;
  font-size: 3.4rem;
  margin-bottom: 2%;
  text-transform: uppercase;
  font-weight: 800;
  color: #333333;
  letter-spacing: 0.5rem;
}

main {
  padding: 3% 1% 0;
  flex-grow: 1;
  overflow: auto;
}
main .functionalities {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.6rem;
  justify-content: center;
  gap: 2%;
}
main .functionalities__item {
  flex-basis: 21%;
  margin: 0 0 2.5%;
  border-radius: 5px;
  background-color: white;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 3% 0;
  box-shadow: 0px 0px 6px rgba(152, 152, 152, 0.4);
  transition: background-color 0.15s ease-in-out, transform 0.25s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media (max-width: 1199px) {
  main .functionalities__item {
    flex-basis: 23%;
  }
}
@media (max-width: 1000px) {
  main .functionalities__item {
    flex-basis: 45%;
  }
}
main .functionalities__item:hover {
  background-color: #076795;
  transform: translateY(-10px);
  margin-bottom: 0;
}
main .functionalities__item:hover .secondary-button {
  display: flex;
  flex-direction: column;
}
main .functionalities__item:hover .primary-button {
  display: none;
}
main .functionalities__item:hover button {
  background-color: white;
  color: #076795;
  box-shadow: none;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}
main .functionalities__item:hover img {
  filter: invert(2) sepia(0) saturate(0) hue-rotate(0deg) grayscale(100%);
  transition: all 0.15s ease-in-out;
}
main .functionalities__item:hover img:hover {
  transform: scale(1.1);
}
main .functionalities__item figure {
  height: 10vh;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 0 1rem;
}
main .functionalities__item figure img {
  max-width: 25%;
}
main .functionalities__item .secondary-button {
  display: none;
}
main .functionalities__item .primary-button {
  cursor: pointer;
  border-radius: 50px;
  background-color: #076795;
  color: white;
  font-size: 2rem;
  padding: 2% 8%;
  box-shadow: 2px 4px 6px rgba(152, 152, 152, 0.4);
  position: relative;
  border: 2px solid #076795;
  width: 70%;
  transition: all 0.15s ease-in-out;
}
main .functionalities__item .primary-button:hover {
  transition: all 0.15s ease-in-out;
  transform: scale(1.1);
}
main .functionalities__item .long-button {
  width: 85%;
  letter-spacing: -0.06rem;
}
main .secondary-button {
  align-items: center;
  background-color: white;
  color: #076795;
  box-shadow: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 2rem;
  padding: 2% 8%;
  box-shadow: 2px 4px 6px rgba(152, 152, 152, 0.4);
  position: relative;
  border: 2px solid #076795;
  width: 70%;
  text-align: center;
  margin: 0 auto 1%;
  transition: all 0.15s ease-in-out;
}
main .secondary-button:hover {
  transition: all 0.15s ease-in-out;
  transform: scale(1.07);
}

footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 100px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 0 5%;
  font-size: 1.4rem;
}
footer .contact {
  display: flex;
  flex-direction: column;
}
footer .contact__phone, footer .contact__email {
  display: flex;
}/*# sourceMappingURL=main.css.map */